.header {
  height: 50vh !important;
  width: 100% !important;
  max-width: 100%;
  margin-left: 0.5rem !important;
  margin-top: 2.5rem !important;
  margin-bottom: -20rem !important;
  min-width: initial !important;
  max-width: none !important;
  min-height: initial !important;
  max-height: none !important;
}

.logo {
  margin-left: 5vw;
  justify-content: center;
  cursor: pointer;
}

.navbar {
  position: fixed;
  display: flex;
  padding: 0.5rem 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 2.5rem;
  background-color: #f5bbc3;
  z-index: 100;
}

.nav__hamburger {
  display: none;
}

.buttonCart {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.Cartlink {
  margin-left: 35rem;
  margin-right: 2rem;
  font-size: 1rem;
  color: #424242;
  cursor: pointer;
  width: 2.5rem !important;
  height: 2rem !important;
}

.cartCount {
  font-size: 1.5rem;
  margin-left: -4rem;
}

.middleLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 31vw;
}

.link {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.3rem;
  color: #424242;
  cursor: pointer;
}

.cartItems {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.3rem;
  color: #424242;
  cursor: pointer;
}

.link:hover {
  border-bottom: 2px solid black;
}

.footer {
  padding: 1rem 0;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f5bbc3;
}

.socialButtonF {
  float: left;
  margin-right: 2rem;
  margin-top: -0.3rem;
  width: 50px;
  height: 45px;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.socialButtonF:hover,
.iconF:hover {
  background: #4267b2 !important;
  color: white;
}

.socialButtonI {
  float: left;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: -0.3rem;
  width: 50px;
  height: 45px;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.socialButtonI:hover,
.iconI:hover {
  background: #e1306c !important;
  color: white;
}

.socialButtonE {
  float: left;
  margin-left: 2rem;
  margin-top: -0.3rem;
  width: 50px !important;
  height: 45px !important;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.socialButtonE:hover,
.iconE:hover {
  background-color: rgb(29, 134, 29);
  color: white;
}

.mainNavigationDrawerNav {
  height: 100%;
}

.mainNavigationMenuBtn {
  margin-left: 10rem;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 6rem;
  cursor: pointer;
}

.mainNavigationMenuBtn span {
  display: block;
  width: 2.5rem;
  height: 2.5px;
  background: #424242;
}

.iconF {
  margin-top: 1rem;
  width: 2rem !important;
  height: 1.5rem !important;
  margin-top: 0.65rem;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.iconI {
  width: 2rem !important;
  height: 1.5rem !important;
  margin-top: 0.65rem;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.iconE {
  width: 2rem !important;
  height: 1.5rem !important;
  margin-top: 0.65rem;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.btn {
  display: block;
  cursor: pointer;
  padding: 0.5em 1em;
  font-weight: 500;
  font-size: 0.9rem;
  transition: transform 0.2s ease-in-out;
}

.btnIcon {
  padding: 0;
}

.btbIcon {
  cursor: pointer;
  right: 0 !important;
  padding: 0;
  font-weight: 500;
  font-size: 1.5rem !important;
  transition: transform 0.2s ease-in-out;
  color: black !important;
  outline: none !important;
  text-decoration: none !important;
  display: flex;
  align-items: space-between !important;
}

.nav__hamburger {
  display: none;
}

.socialButtonE {
  width: 40px;
  height: 43px;
}

@media (max-width: 720px) {
  .navbar {
    justify-content: space-between;
  }
  .middleLinks {
    display: none;
  }
  .link {
    font-size: 1rem;
  }
  .cartLink {
    display: none;
  }
  .link {
    margin: 0.5em 0;
    padding: 1em;
  }
  .nav__hamburger {
    background: transparent;
    border: none;
    margin-right: 1rem;
    margin-top: 0.2rem;
    display: flex;
    z-index: 2;
  }

  .middleLinks {
    display: none;
    flex-direction: column;
    justify-content: flex-stat;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 20%;
    height: 25%;
    z-index: 2;
    background-color: #f5bbc3;
  }
  .link {
    margin-top: 2rem !important;
    margin-left: 2rem !important;
    margin-right: 4rem !important;
    font-size: 1.3rem !important;
  }
  .logo {
    display: none !important;
  }
  .link:hover {
    border: unset !important;
  }
  .Cartlink {
    margin-right: 37rem;
  }
  .linkHome {
    margin-bottom: 1rem !important;
  }

  .cartCount {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .socialButtonF {
    width: 40px;
    height: 43px;
  }
  .socialButtonI {
    width: 40px;
    height: 43px;
  }
}

@media (min-width: 721px) {
  .cartCount {
    display: unset !important;
  }
  .cartCount {
    margin-left: -4rem !important;
  }
  .Cartlink {
    margin-left: 1rem !important;
  }
}

@media (max-width: 900px) {
  .middleLinks {
    margin-left: 15vw !important;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1600px) {
  .middleLinks {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25vw;
  }
}

@media (min-width: 2000px) {
  .middleLinks {
    margin-left: 35vw !important;
  }
}
