.mainNavigationMenuBtn {
  width: 3rem;
  height: 3rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 6rem;
  cursor: pointer;
  display: block;
  width: 2.5rem;
  height: 2.5px;
  background: black !important;
}

.mainNavigationTitle {
  color: black;
}

.mainNavigationTtitle a {
  text-decoration: none;
  color: black;
}

.mainNavigationHeaderNav {
  display: none;
}

.mainNavigationDrawerNav {
  height: 100%;
}

@media (min-width: 768px) {
  .mainNavigationMenuBtn {
    display: none;
  }

  .mainNavigationHeaderNav {
    display: block;
  }
}
