.main {
  min-height: 100vh;
  padding: 9rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -15rem;
}

.crystalHeader {
  display: flex;
  margin-top: 13rem;
  width: 100vw !important;
  margin-bottom: 2rem !important;
}

.crystalHeaderAbout {
  margin-left: 45vw;
}

.split {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  border-right: 2px solid black;
}

.crystalsText {
  margin-top: 3vh !important;
  margin-left: 25rem;
  margin-right: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.15rem;
}

.contactHeader {
  margin-top: 5rem;
  color: #fff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(0.95, 1);
}

.crystals {
  margin-bottom: 10vh;
  height: 85vh;
}

.envText {
  margin-top: 10rem;
  margin-left: 25rem;
  margin-right: 20rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.3rem;
}

.crystalImg {
  margin-top: -2.5vh !important;
  padding-bottom: 10vh !important;
}

.nzNatural {
  margin-top: 4.8rem;
  height: 100vh;
  width: 100vw !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../public/NZNature.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
}

#contact {
  background-color: #6a9ac4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactBox {
  margin-top: -10rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  margin-top: -35vh;
  margin-bottom: -20vh;
}

.contactHeader {
  font-size: 2rem;
  margin-top: -40vh;
  color: black;
  justify-content: center;
  transform: translate(100%);
  margin-bottom: -5vh;
}

.contactFormWrapper {
  background-color: #ffffff8f;
  width: 25vw;
  height: 25vh;
  margin-bottom: 3vh;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}

.formItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  padding: 0.5rem;
  height: 1.5rem;
}

.formLabel {
  position: absolute;
  top: 10px;
  left: -20%;
  color: black;
  font-size: 1.2rem;
  pointer-events: none;
  user-select: none;
}

.formArea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
  height: 5rem;
}

.formLabel:focus + .formLabel,
.formLabel:valid + .formLabel,
.formArea:focus + .formArea,
.formArea:valid + .formArea {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all 0.225s ease;
}

.submitBtn {
  margin-top: 10vh !important;
  margin-left: 0.8vh !important;
  background-color: #f5bbc3;
  filter: drop-shadow(2px 2px 3px #0003);
  color: black;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submitBtn:hover {
  transform: scale(1.1, 1.1);
}

.submitBtn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 1024px) {
  .crystalsText {
    margin-top: 1.5vh !important;
    margin-left: 3rem;
    font-size: 1rem !important;
    width: 90% !important;
  }
  .crystals {
    margin-bottom: 10vh;
    height: 65vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: bottom !important;
  }

  .crystalHeader {
    display: flex;
    margin-top: 11rem;
    width: 100vw !important;
    margin-bottom: 1.5rem !important;
  }

  .crystalImg {
    padding-bottom: 3.5vh !important;
  }

  .envText {
    margin-left: 3rem;
    font-size: 1rem !important;
    width: 90% !important;
    margin-top: 3rem;
  }

  .nzNatural {
    height: 63vh;
  }

  .crystalHeaderAbout {
    margin-left: 39vw;
  }

  .contactHeader {
    margin-left: -13rem;
  }

  .contactBox {
    margin-bottom: -13rem;
  }

  .formLabel {
    margin-left: -2rem;
  }
}

@media screen and (max-width: 768px) {
  .crystalHeader {
    margin-left: -2rem;
    font-size: 1.9rem !important;
    width: 85% !important;
  }
  .crystalsText {
    padding-bottom: 1rem !important;
  }
  .crystalImg {
    padding-bottom: 2.5vh !important;
  }
  .contactBox {
    margin-top: -12rem !important;
    margin-bottom: -10rem !important;
    width: 100%;
    margin: 8% 5%;
  }
  .formLabel {
    margin-left: -3rem !important;
  }
  .contactHeader {
    font-size: 1.7rem !important;
  }
}

@media screen and (max-width: 425px) {
  .crystalHeader {
    margin-left: 1rem !important;
    font-size: 1.5rem !important;
  }
  .crystalsText {
    margin-left: 5rem;
    font-size: 1rem !important;
    padding-bottom: 1rem !important;
    width: 70% !important;
  }
  .crystals {
    height: 45rem !important;
    background-image: none !important;
  }
  .nzNatural {
    background-image: none !important;
  }
  .envText {
    font-size: 1.2rem !important;
    margin-left: 2.5rem !important;
    width: 80% !important;
  }
  .contactBox {
    margin-top: -15rem !important;
    width: 100% !important;
    margin: 8% 5%;
  }
  .formLabel {
    margin-left: -3rem !important;
  }
  .contactHeader {
    font-size: 1.7rem !important;
  }
}

@media screen and (max-width: 375px) {
  .crystalHeader {
    margin-left: 4rem !important;
    font-size: 1.2rem !important;
  }
  .crystalsText {
    margin-left: 7.5rem !important;
    font-size: 0.85rem !important;
    padding-bottom: 1rem !important;
    width: 55% !important;
  }
  .envText {
    margin-left: 3.5rem !important;
    font-size: 0.95rem !important;
    padding-bottom: 1rem !important;
    width: 65% !important;
  }
  .contactBox {
    margin-top: -10rem !important;
    width: 100% !important;
    margin: 5% 5%;
  }
  .formLabel {
    margin-left: -3rem !important;
  }
  .contactHeader {
    font-size: 1.5rem !important;
  }
  .formItem {
    margin-left: 3rem;
  }
  .submitBtn {
    margin-left: 5rem !important;
  }
}

@media only screen and (min-width: 2500px) {
  .crystalsText {
    font-size: 1.2rem;
  }
  .envText {
    font-size: 1.3rem;
  }
  .contactBox {
    margin-top: 5vh !important;
  }
}

.links {
  padding-top: 30px;
}
