.main {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.galleryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 30vh;
  margin-left: -70vw;
}

.galleryImage {
  width: 12.5vw;
  height: 12.5vh;
  margin-bottom: 12vh;
}

.buttonImage {
  background: unset;
  border: unset;
  cursor: pointer;
}

.galleryMainContainer {
  margin-left: -20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainImage {
  width: 25vw;
  height: 50vh;
  margin-bottom: 40vh;
  margin-top: -100vh;
}

.candleContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.candleContentHeader {
  width: 60vw;
  height: 60vh;
  margin-left: 55vw;
  margin-right: 5vw;
  margin-bottom: 40vh;
  margin-top: -100vh;
}

.candleTitle {
  text-align: center;
  font-size: 2.3rem;
}

.candleDescription {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.containerBitsHeader {
  margin-top: 3vh;
  cursor: pointer;
}

.headerUnderline {
  border-bottom: 2px solid #a793bc;
}

.bitsText {
  width: 70%;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.containerBuy {
  margin-top: 3vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-size: 1.5rem;
}

.candlePrice {
  font-size: 1rem;
  text-decoration: line-through;
  margin-right: 7.5rem;
}

.quantity {
  margin-right: 1rem;
  margin-top: 1.7rem;
  font-size: 1.3rem;
  color: #696565;
}

.candleQuantity {
  margin-top: 2rem !important;
  border: unset;
  background-color: unset;
}

.submitButton {
  height: 2.2rem;
  width: 8rem;
  margin-left: 1rem;
  margin-top: 1.3rem;
  background: #b8e0ab;
  border-radius: 4px;
  color: black;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

.submitButton:hover {
  opacity: 0.8;
}

/* 
mobile first */

@media only screen and (min-width: 980px) and (max-width: 1179px) {
  .candleDescription {
    font-size: 0.9rem;
    width: 27rem;
  }

  .bitsText {
    font-size: 0.9rem;
  }

  .candleContentHeader {
    font-size: 0.9rem;
    margin-top: -55rem;
    margin-left: 67vw;
  }

  .containerBuy {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1180px) and (max-width: 1600px) {
  .candleDescription {
    font-size: 1.2rem;
  }

  .bitsText {
    font-size: 1rem;
  }

  .candleContentHeader {
    font-size: 1rem;
    margin-top: -60rem;
    margin-left: 58vw;
  }

  .containerBuy {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1180px) and (max-height: 800px) and (max-width: 1600px) {
  .candleDescription {
    font-size: 1rem;
  }

  .candleContentHeader {
    padding-top: 10rem;
  }

  .bitsText {
    font-size: 0.9rem;
  }

  .candleContentHeader {
    font-size: 0.9rem;
    margin-top: -60rem;
    margin-left: 58vw;
  }

  .containerBuy {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 2500px) {
  .galleryMainContainer {
    margin-bottom: 3vh !important;
  }

  .candleTitle {
    font-size: 2.5rem;
  }

  .candleDescription {
    font-size: 1.5rem;
  }

  .containerBitsHeader {
    font-size: 1.5rem;
  }

  .bitsText {
    font-size: 1.3rem;
  }

  .candleRetail {
    font-size: 2.2rem;
  }
}
