.main {
  max-width: 100vw;
  overflow: hidden;
}

.galleryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 30vh;
  margin-left: -70vw;
}

.continueStripe {
  margin-top: 2rem;
  margin-left: 5rem;
  font-size: 1.2rem !important;
}

.galleryImage {
  width: 12.5vw;
  height: 12.5vh;
  margin-bottom: 12vh;
}

.buttonImage {
  background: unset;
  border: unset;
  cursor: pointer;
}

.galleryMainContainer {
  margin-left: -20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.candleRetail {
  font-size: 1.2rem;
}

.mainImage {
  width: 25vw;
  height: 50vh;
  margin-bottom: 40vh;
  margin-top: -100vh;
}

.candleContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80% !important;
}

.candleContentHeader {
  width: 60vw;
  height: 60vh;
  margin-left: 55vw;
  margin-right: 5vw;
  margin-bottom: 40vh;
  margin-top: -100vh;
}

.candleTitle {
  text-align: center;
  margin-left: 5rem;
  font-size: 2.3rem;
}

.candleDescription {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.containerBitsHeader {
  margin-top: 3vh;
  cursor: pointer;
}

.checkoutMenu {
  margin-top: 3rem;
}

.headerUnderline {
  border-bottom: 2px solid #a793bc;
}

.bitsText {
  width: 70%;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.containerBuy {
  margin-top: -8vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  font-size: 1.5rem;
  margin-bottom: 5vh;
  margin-left: 22vw !important;
}

.candlePrice {
  font-size: 1rem;
  text-decoration: line-through;
}

.quantity {
  margin-right: 1rem;
  margin-top: 1.7rem;
  font-size: 1.3rem;
  color: #696565;
}

.candleQuantity {
  margin-top: 2rem !important;
  font-size: 1.1rem;
  border: unset;
  background-color: unset;
}

.submitButton {
  height: 2.2rem;
  width: 8rem;
  margin-left: 1rem;
  margin-top: 1.3rem;
  background: #b8e0ab;
  border-radius: 4px;
  color: black;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

.submitButton:hover {
  opacity: 0.8;
}

.mobileGallery {
  display: none;
}

/* 
mobile first */
@media only screen and (min-width: 320px) {
  .galleryContainer {
    margin-top: 2vh;
  }
  .candleSize {
    display: none !important;
  }
  .mobileGallery {
    display: unset !important;
    display: inline-block !important;
  }
  .galleryBack {
    margin-top: -0.5rem !important;
    margin-left: -6vw;
    margin-bottom: -10vh !important;
    font-size: 1.6rem;
  }

  .galleryForward {
    font-size: 1.6rem;
    margin-right: -20vw;
    margin-bottom: 5vh !important;
  }

  .mainImage {
    margin-right: 5vw !important;
    margin-left: 20vw !important;
    margin-bottom: 50vh !important;
    width: 65vw !important;
  }
  .candleContent {
    margin-top: 1.5rem;
    justify-self: space-between !important;
    align-items: space-between !important;
    flex: 1 !important;
    flex-wrap: wrap !important;
    margin-right: 35vw !important;
    width: 70vw !important;
  }
  .candleTitle {
    display: none;
    margin-right: 5vw !important;
  }
  .candleDescription {
    font-size: 0.8rem;
    margin-top: 25vh !important;
    margin-left: -23vw !important;
    width: 90vw !important;
  }
  .containerBits {
    display: none !important;
  }
  .containerBuy {
    width: 100% important;
    justify-content: space-between !important;
    align-items: space-between !important;
    flex: 1 !important;
    flex-wrap: wrap !important;
    line-height: 0.2rem !important;
  }
  .candleRetail {
    margin-left: -20vw !important;
  }
  .candleQuantity {
    margin-top: 1.2rem !important;
    font-size: 0.9rem;
    margin: 0.2rem;
  }
  .candlePrice {
    margin-right: 20vw !important;
  }

  .quantity {
    margin-right: 2vw !important;
    margin-left: -10vw !important;
  }
  .continueStripe {
    margin-left: 5vw !important;
    line-height: 6vw !important;
  }
  .submitButton {
    margin-right: 5vw !important;
  }
  .checkoutMenu {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media only screen and (min-width: 375px) {
  .galleryForward {
    margin-bottom: 8vh !important;
  }
  .candleDescription {
    font-size: 1.1rem !important;
    width: 90vw !important;
  }
  .checkoutMenu {
    font-size: 1.1rem;
  }

  .candleDescription {
    font-size: 1rem !important;
    width: 90vw !important;
  }

  .candleContent {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 425px) {
  .galleryBack {
    margin-bottom: -12vh !important;
  }
  .candleDescription {
    font-size: 1rem !important;
  }
  .candleRetail {
    margin-left: -15vw !important;
  }
  .checkoutMenu {
    font-size: 1.2rem;
  }
  .containerBuy {
    margin-top: -3vh !important;
  }
  .candleContent {
    margin-top: 2rem;
  }
  .candleQuantity {
    margin: 1rem;
    width: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .candleTitle {
    display: flex !important;
    margin-top: 35vh !important;
    margin-bottom: -10vh !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 20vw !important;
  }
  .candleDescription {
    font-size: 1.1rem !important;
    margin-top: 15vh !important;
    margin-left: -20vw !important;
  }
  .galleryBack {
    margin-left: -6vw;
    margin-bottom: 17vh !important;
    font-size: 2rem !important;
  }

  .galleryForward {
    font-size: 2rem !important;
    margin-right: -50vw !important;
    margin-bottom: 16vh !important;
  }
  .mainImage {
    width: 50vw !important;
    margin-bottom: 40vh !important;
  }
  .candleRetail {
    margin-left: 10vw !important;
  }
  .submitButton {
    margin-left: 20vw !important;
  }
  .continueStripe {
    line-height: unset !important;
  }
  .containerBuy {
    margin-top: -1vh !important;
    margin-left: 15vw !important;
    width: 50vw;
  }
  .candleQuantity {
    margin: -0.1rem;
  }
  .candleContent {
    width: 60% !important;
  }
}
@media only screen and (min-width: 1024px) {
  .candleTitle {
    margin-top: 25vh !important;
    margin-left: 15vw;
  }
  .galleryContainer {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 15vh;
    margin-bottom: 30vh;
    margin-left: -70vw;
  }
  .mainImage {
    margin-left: 30vw !important;
    width: 35vw !important;
    margin-bottom: 55vh !important;
  }
  .galleryBack {
    margin-left: -10vw;
    margin-bottom: 10vh !important;
    font-size: 2.5rem !important;
  }
  .galleryForward {
    font-size: 2.5rem !important;
    margin-right: -50vw !important;
    margin-bottom: 10vh !important;
  }

  .candleTitle {
    margin-bottom: -5rem !important;
  }
  .galleryMainContainer {
    margin-top: -3rem !important;
  }
  .candleRetail {
    margin-left: 5vw !important;
  }
  .containerBuy {
    margin-top: -1vh !important;
    margin-left: 5vw !important;
    width: 90vw !important;
  }
  .submitButton {
    margin-top: 0.5rem;
    width: 15%;
  }
  .continueStripe {
    margin-top: 0.5rem;
    margin-left: 5vw;
  }
}
@media only screen and (min-width: 1200px) {
  .mainImage {
    width: 30vw !important;
    margin-bottom: 57.5vh !important;
  }
  .candleSize {
    display: unset !important;
  }
  .candleDescription {
    width: unset !important;
    margin-left: unset !important;
  }
  .galleryBack {
    display: none !important;
  }
  .galleryForward {
    display: none !important;
  }
  .candleDescription {
    width: 70vw !important;
  }
  .containerBuy {
    margin-top: -1vh !important;
    margin-left: 5vw !important;
    width: 60% !important;
  }
  .submitButton {
    margin-top: 0.5rem;
    width: 25%;
  }
}

@media only screen and (min-width: 1400px) {
  .mainImage {
    width: 25vw !important;
    margin-bottom: 57.5vh !important;
  }
  .candleQuantity {
    margin: 1rem;
  }
  .candleTitle {
    margin-left: 22vw;
  }
}

@media only screen and (min-width: 1600px) {
  .candleTitle {
    margin-top: 20vh !important;
    margin-bottom: -10vh !important;
    text-align: center;
    margin-left: 15vw !important;
  }
  .mainImage {
    margin-left: 30vw !important;
    width: 20vw !important;
  }
  .containerBits {
    display: inline-block !important;
  }
  .containerBitsHeader {
    margin-right: 5rem !important;
    display: inline-block !important;
  }
  .bitsText {
    width: 30vw !important;
    flex-wrap: nowrap !important;
  }
  .containerBuy {
    margin-right: 10vw;
    justify-content: center !important;
  }
  .quantity {
    margin-left: -15vw !important;
  }
  .submitButton {
    margin-left: 17.5vw !important;
    width: 20%;
  }
}

@media only screen and (min-width: 2500px) {
  .mainImage {
    margin-left: 25vw !important;
    width: 17.5vw !important;
  }
  .galleryMainContainer {
    margin-bottom: 3vh !important;
  }

  .candleTitle {
    font-size: 2.5rem;
    margin-left: 15rem;
  }

  .candleDescription {
    font-size: 1.7rem;
    width: 80% !important;
    margin-left: 5vw !important;
  }

  .containerBitsHeader {
    font-size: 1.5rem;
  }

  .bitsText {
    font-size: 1.3rem;
  }

  .candleRetail {
    font-size: 2.2rem;
  }
  .containerBuy {
    margin-top: -1vh !important;
    margin-left: 5vw !important;
    width: 40vw !important;
  }
  .candleRetail {
    margin-top: 1rem;
  }
  .submitButton {
    margin-left: 5vw !important;
    width: 15%;
  }
}
