.main {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.galleryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 30vh;
  margin-left: -70vw;
}

.galleryImage {
  width: 12.5vw;
  height: 12.5vh;
  margin-bottom: 12vh;
}

.buttonImage {
  background: unset;
  border: unset;
  cursor: pointer;
}

.galleryMainContainer {
  margin-left: -20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainImage {
  width: 25vw;
  height: 50vh;
  margin-bottom: 40vh;
  margin-top: -100vh;
}

.candleContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.candleContentHeader {
  width: 60vw;
  height: 60vh;
  margin-left: 55vw;
  margin-right: 5vw;
  margin-bottom: 40vh;
  margin-top: -100vh;
}

.candleTitle {
  text-align: center;
  font-size: 2.3rem;
}

.candleDescription {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.containerBitsHeader {
  margin-top: 3vh;
  cursor: pointer;
}

.headerUnderline {
  border-bottom: 2px solid #a793bc;
}

.bitsText {
  width: 70%;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.containerBuy {
  margin-top: 3vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-size: 1.5rem;
}

.candlePrice {
  font-size: 1rem;
  text-decoration: line-through;
  margin-right: 7.5rem;
}

.quantity {
  margin-right: 1rem;
  margin-top: 1.7rem;
  font-size: 1.3rem;
  color: #696565;
}

.candleQuantity {
  margin-top: 2rem !important;
  border: unset;
  background-color: unset;
}

.submitButton {
  height: 2.2rem;
  width: 8rem;
  margin-left: 1rem;
  margin-top: 1.3rem;
  background: #b8e0ab;
  border-radius: 4px;
  color: black;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

.submitButton:hover {
  opacity: 0.8;
}

.mobileGallery {
  display: none;
}

/* 
mobile first */
@media only screen and (min-width: 320px) {
  .galleryContainer {
    margin-top: 5vh;
  }
  .candleSize {
    display: none !important;
  }
  .mobileGallery {
    display: unset !important;
    display: inline-block !important;
  }
  .galleryBack {
    margin-left: -5vw;
    margin-bottom: -10vh !important;
    font-size: 1.6rem;
  }

  .galleryForward {
    font-size: 1.6rem;
    margin-right: -20vw;
    margin-bottom: 5vh !important;
  }

  .mainImage {
    margin-right: 5vw !important;
    margin-left: 20vw !important;
    margin-bottom: 50vh !important;
    width: 65vw !important;
  }
  .candleContent {
    justify-self: space-between !important;
    align-items: space-between !important;
    flex: 1 !important;
    flex-wrap: wrap !important;
    margin-right: 35vw !important;
    width: 60vw !important;
  }
  .candleTitle {
    margin-top: 20vh !important;
    margin-right: 5vw !important;
  }
  .candleDescription {
    font-size: 1rem;
  }
  .containerBits {
    display: none !important;
  }
  .containerBuy {
    justify-content: space-between !important;
    align-items: space-between !important;
    flex: 1 !important;
    flex-wrap: wrap !important;
    line-height: 0.2rem !important;
  }
  .candleQuantity {
    margin-top: 1.2rem !important;
  }
  .candlePrice {
    margin-right: 20vw !important;
  }

  .quantity {
    margin-right: 2vw !important;
    margin-left: -10vw !important;
  }
  .submitButton {
    margin-right: 10vw !important;
  }
}

@media only screen and (min-width: 375px) {
  .galleryForward {
    margin-bottom: 8vh !important;
  }
  .candleDescription {
    font-size: 1.1rem !important;
  }
}

@media only screen and (min-width: 425px) {
  .galleryBack {
    margin-bottom: -11vh !important;
  }
  .candleDescription {
    font-size: 1.25rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .candleDescription {
    font-size: 1.3rem !important;
    margin-top: 13vh !important;
  }
  .galleryBack {
    margin-left: -6vw;
    margin-bottom: 17vh !important;
    font-size: 2rem !important;
  }

  .galleryForward {
    font-size: 2rem !important;
    margin-right: -50vw !important;
    margin-bottom: 16vh !important;
  }
  .mainImage {
    width: 50vw !important;
    margin-bottom: 40vh !important;
  }
}

@media only screen and (min-width: 1024px) {
  .galleryContainer {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 15vh;
    margin-bottom: 30vh;
    margin-left: -70vw;
  }
  .candleSize {
    display: unset !important;
  }
  .mainImage {
    width: 40vw !important;
    margin-bottom: 60vh !important;
  }
  .galleryBack {
    display: none !important;
  }
  .galleryForward {
    display: none !important;
  }
  .candleTitle {
    margin-bottom: -5rem !important;
  }
  .galleryMainContainer {
    margin-top: -3rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .mainImage {
    width: 30vw !important;
    margin-bottom: 57.5vh !important;
  }
}

@media only screen and (min-width: 1400px) {
  .mainImage {
    width: 25vw !important;
    margin-bottom: 57.5vh !important;
  }
}

@media only screen and (min-width: 1600px) {
  .mainImage {
    margin-left: 30vw !important;
    width: 20vw !important;
  }
  .containerBits {
    display: inline-block !important;
  }
  .containerBitsHeader {
    margin-right: 5rem !important;
    display: inline-block !important;
  }
  .bitsText {
    width: 30vw !important;
    flex-wrap: nowrap !important;
  }
  .containerBuy {
    justify-content: center !important;
  }
  .quantity {
    margin-left: -15vw !important;
  }
  .submitButton {
    margin-left: 5vw !important;
  }
}

@media only screen and (min-width: 2500px) {
  .mainImage {
    margin-left: 25vw !important;
    width: 17.5vw !important;
  }
  .galleryMainContainer {
    margin-bottom: 3vh !important;
  }

  .candleTitle {
    font-size: 2.5rem;
  }

  .candleDescription {
    font-size: 1.5rem;
  }

  .containerBitsHeader {
    font-size: 1.5rem;
  }

  .bitsText {
    font-size: 1.3rem;
  }

  .candleRetail {
    font-size: 2.2rem;
  }
}
