body {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: "Raleway", sans-serif;
  max-width: 100vw !important;
  max-height: 100vh !important;
}

ul {
  list-style-type: none;
}

.active {
  font-weight: 600;
}
