.main {
  margin-top: 5vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eonL {
  text-align: center;
  background: none !important;
}

.eonContainer {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 100vw;
}

.eonLink {
  margin-top: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  justify-content: center;
  width: 100vw;
  height: 5vh;
}

.eonTitle {
  margin-top: 0.5rem !important;
  width: 4.5em !important;
  height: 2rem !important;
  color: #424242;
  display: inline-block;
}

.eonIcon {
  margin-left: -0.5rem !important;
  min-width: 0 !important;
  min-height: 0 !important;
  width: 4.5rem !important;
  height: 2.3rem !important;
}

.eonIcon:hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.underline {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 85vw;
  border-bottom: 2px solid black;
}

.midsec {
  margin-top: 1rem;
  margin-left: 3.5rem;
}

.eonText {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  text-align: center;
  font-size: 1.1rem;
  width: 100vw;
  height: 20vh;
  line-height: 1.5rem !important;
  transition: 1s;
}

.eonPara {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(56, 55, 55, 0.767);
}

.animateEon {
  display: inline-block;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  cursor: pointer;
  text-align: center;
  letter-spacing: 2px;
  color: black;
}

.hover {
  margin-left: 2rem !important;
  margin-right: 3rem !important;
  margin-top: 1rem !important;
  height: 15vh !important;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
}
.hover:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  height: 15px;
  width: 100%;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: transform opacity;
}
.hover:hover {
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-weight: 600;
}
.hover:hover:before {
  opacity: 0.6;
  transform: translateY(6px);
  animation-name: shadow;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.row {
  margin-top: 10vh;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 20vh;
  width: 100vw;
  height: 26vh;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  text-align: center;
}

.rowItem {
  width: 25vw !important;
  margin-left: 2vw;
  margin-right: 2vw;
  cursor: pointer;
}

@media only screen and (min-width: 2500px) {
  .eonText {
    font-size: 1.2rem;
  }
  .eonCandle {
    width: 500px !important;
    height: 300px !important;
  }
  .eonL {
    margin-top: -10vh;
  }
}

.eonCandle {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.eonCandle:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.candleDescription {
  font-size: 1.2rem;
}

.veganWax {
  font-weight: 300;
}

@media screen and (max-width: 420px) {
  .eonContainer {
    flex-direction: row !important;
  }
  .eonTitle {
    font-size: 1.1rem !important;
    width: 7rem !important;
    height: 1rem !important;
  }
  .eonText {
    flex-direction: column !important;
    font-size: 1rem;
    margin-bottom: 10rem !important;
    height: 60rem !important;
  }
  .eonIcon {
    display: none !important;
  }
  .row {
    flex-direction: column !important;
  }
  /* .eonCandle {
    width: 10rem !important;
    height: 5rem !important;
  } */
}
