.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eonL {
  text-align: center;
  background: none !important;
}

.eonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 100vw;
}

.eonLink {
  margin-top: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  justify-content: center;
  width: 100vw;
  height: 5vh;
}

.eonTitle {
  margin-top: 0.5rem !important;
  width: 4.5em !important;
  height: 2rem !important;
  color: #424242;
  display: inline-block;
}

.eonIcon {
  margin-left: -0.5rem !important;
  min-width: 0 !important;
  min-height: 0 !important;
  width: 4.5rem !important;
  height: 2.3rem !important;
}

.eonIcon:hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.underline {
  margin-left: 5vw;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 90vw;
  border-bottom: 2px solid black;
}

.mobileTop {
  display: none !important;
}

.midsec {
  margin-top: 1rem;
  margin-left: 3.5rem;
}

.eonText {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  text-align: center;
  font-size: 1.1rem;
  width: 100vw;
  height: 20vh;
  line-height: 1.5rem !important;
  transition: 1s;
}

.eonPara {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(56, 55, 55, 0.767);
}

.animateEon {
  display: inline-block;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  cursor: pointer;
  text-align: center;
  letter-spacing: 2px;
  color: black;
}

.hover {
  margin-left: 2rem !important;
  margin-right: 3rem !important;
  margin-top: 1rem !important;
  height: 20vh !important;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
}
.hover:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  height: 15px;
  width: 100%;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: transform opacity;
}
.hover:hover {
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-weight: 600;
}
.hover:hover:before {
  opacity: 0.6;
  transform: translateY(6px);
  animation-name: shadow;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.rowItem {
  width: 25vw !important;
  margin-left: 2vw;
  margin-right: 2vw;
  cursor: pointer;
}

.eonCandle {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.eonCandle:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.candleDescription {
  font-size: 1.2rem;
}

.veganWax {
  font-weight: 300;
}

@media screen and (min-width: 320px) {
  .eonContainer {
    flex-direction: row !important;
  }
  .eonLink {
    margin-left: 1rem;
  }
  .eonL {
    margin-top: -5vh !important;
  }
  .mobileTop {
    display: flex !important;
    flex: 1;
    flex-wrap: wrap !important;
  }
  .rowItem {
    margin-left: 0.5rem;
    width: 9rem !important;
  }
  .DesktopTop {
    display: none !important;
  }
  .eonTitle {
    width: 5rem !important;
    font-size: 1.3rem !important;
    margin-top: -2rem !important;
  }
  .eonIcon {
    display: none !important;
  }
  .lastPara {
    margin-top: -5rem !important;
  }

  .DesktopTop {
    margin-bottom: 30vh !important;
  }
  .eonText {
    flex-direction: column !important;
    font-size: 1rem !important;
    height: 87.5rem !important;
    margin-bottom: 15rem !important;
  }
  .row {
    padding-bottom: 0 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: space-between !important;
    flex: 1 !important;
    width: 80vw !important;
    flex-wrap: wrap;
    margin-bottom: 7rem;
    line-height: 5rem !important;
  }
}

@media screen and (min-width: 375px) {
  .eonText {
    height: 70rem !important;
    margin-bottom: 15rem !important;
  }
  .rowItem {
    width: 10rem !important;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 425px) {
  .eonText {
    height: 80rem !important;
  }
  .eonContainer {
    flex-direction: row !important;
  }
  .eonL {
    margin-top: -10vh !important;
  }
  .eonTitle {
    font-size: 1.4rem !important;
    width: 7rem !important;
    height: 1rem !important;
  }
  .eonText {
    flex-direction: column !important;
    font-size: 1.05rem !important;
    margin-bottom: 10rem;
    height: 65rem !important;
    margin-bottom: 10rem !important;
    margin-top: 2rem !important;
  }
  .eonIcon {
    display: none !important;
  }
  .rowItem {
    width: 12rem !important;
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .eonL {
    margin-top: 5vh !important;
  }
  .DesktopTop {
    display: flex !important;
    margin-top: 20vh;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 20vh;
    width: 100vw;
    height: 26vh;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    text-align: center;
  }
  .rowItem {
    width: 25vw !important;
    margin-left: 2vw !important;
    margin-right: 2vw !important;
    cursor: pointer !important;
  }
  .mobileTop {
    display: none !important;
  }
  .eonIcon {
    display: unset !important;
  }
  .eonTitle {
    font-size: 1.5rem !important;
  }
  .eonText {
    font-size: 1.2rem !important;
    height: 60rem !important;
    margin-bottom: -1rem !important;
    line-height: 2rem !important;
  }
  .row {
    margin-top: 10rem !important;
    padding-bottom: 0 !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: space-between !important;
    width: 100vw !important;
    flex-wrap: wrap !important;
    margin-bottom: 7rem;
    line-height: 5rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .eonTitle {
    font-size: 1.7rem !important;
  }
  .eonText {
    line-height: 2.5rem !important;
  }
  .row {
    flex-direction: column !important;
  }
  .rowItem {
    margin-left: unset;
    margin-right: unset;
  }
}

@media screen and (min-width: 1440px) {
  .eonTitle {
    font-size: 2rem !important;
    margin-right: 1.5rem;
  }
  .eonText {
    height: 40rem !important;
    font-size: 1.25rem !important;
    height: 50rem !important;
  }
  .DesktopTop {
    margin-top: 15vh;
  }
}

@media screen and (min-width: 1600px) {
  .eonTitle {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
    width: 8rem !important;
    margin-right: unset !important;
  }

  .eonText {
    margin-top: 3rem !important;
    font-size: 1.3rem !important;
    line-height: 2.2rem !important;
    width: 85vw !important;
    height: 70vh !important;
  }
  .row {
    margin-bottom: 10rem !important;
  }
}

@media only screen and (min-width: 2500px) {
  .eonTitle {
    font-size: 2.5rem;
  }

  .eonText {
    font-size: 1.8em;
    line-height: 2.5rem !important;
  }
  .eonCandle {
    width: 500px !important;
    height: 300px !important;
  }
  .eonL {
    margin-top: -10vh;
  }
}
