.main {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  padding-top: 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.mailModal {
  width: 100vw;
  max-width: 100% !important;
  float: right;
  height: 5vh;
  background-color: #a793bce8;
  margin: 0 auto;
  position: relative;
}

.mailIcon {
  margin-left: 1rem;
  margin-bottom: -0.4rem;
  font-size: 1.5rem;
}

.message {
  display: inline-block;
  text-align: center;
  margin-left: 25vw;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.emailInput {
  display: inline-block;
  position: absolute;
  border: none;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
  height: 1.3rem;
  font-size: 1.1rem;
  outline: none;
}

.emailInput:focus {
  border: 1px solid #604081;
}

.emailButton {
  cursor: pointer;
  margin-left: 13vw;
  padding: 0.3rem;
  background-color: #cec1da;
  border: 1px solid #a793bc;
  border-radius: 2rem;
  filter: drop-shadow(2px 2px 3px #0003);
  user-select: none;
  transition: 0.2s;
}

.emailButton:hover {
  transform: scale(1.05, 1.05) !important;
}

.emailButton:active {
  transform: scale(1.1, 1.1);
}

.candleContainer {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  width: 90vw;
  height: 100vh;
}

.candleChild {
  margin-left: 3vw;
  width: 40vw;
  height: 45vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.candlePic {
  width: 100%;
  cursor: pointer;
  margin-top: 5vh;
}

.candleDetail {
  margin-top: 10vh;
  margin-left: 1vw;
  width: 100%;
  height: 50%;
  line-height: 1rem;
  cursor: pointer;
}

.candleDetailMuted {
  font-weight: 390;
}

.candleZoom {
  margin-top: 0.5rem;
  font-size: 1.5rem !important;
}

.candleMain {
  position: absolute;
  background-color: #f5bbc3f1;
  border-radius: 4rem;
  z-index: 100;
  top: 25%;
  left: 25%;
  width: 55vw;
  height: 50vh;
}

.candleMain .candlePic {
  width: 65%;
  margin-top: -10vh;
}

.candleMain .candleZoomedDetail {
  margin-left: 34vw;
  margin-top: -50vh;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.candleMain .candleZoomedDetail .candlePrice {
  font-size: 1rem;
  text-decoration: line-through;
  margin-right: 5rem;
}

.candleMain .candleZoomedDetail .candleDetailMuted {
  margin-bottom: 3.5rem !important;
}

/* mobile first */

/*Desktop browsers */
 
@media only screen and (min-width: 980px)  {
  .message {
    margin-left: 8vw;
    font-size: 1rem;
  }
  .mailModal{
    height: 2.5rem;
  }

  .emailInput {
    font-size: 1rem;
    margin-top: 0.8rem;
  }
  .emailButton {
    margin-left: 22vw;
    margin-bottom: 5rem !important;
    margin-top: 5rem !important;
    padding: 0.2rem;
    font-size: 0.9rem !important;
  }

  .candleChild {
    height: 35vh;
  }

  .candleDetail {
    margin-top: 5vh;
  }

  .candleContainer{
    height: 60rem !important;
  }

  .candlePic {
    margin-top: 3vh;
    margin-left: 3vh;
  }
   .candleMain{
     width: 40rem;
     height: 23em;
   }

  .candleZoomedDetail {
    margin-left: 34vw !important;
    margin-top: -40vh !important;
    width: 40% !important;
    font-size: 1rem !important;
  }
  .candleMain .candleZoomedDetail .candlePrice {
    font-size: 0.7rem;
    text-decoration: line-through;
    margin-right: 5rem;
  }

  .candleMain .candlePic{
    width: 55%;
    padding-top: 4rem;
    margin-top: -15vh !important;
  }
}

@media only screen and (min-width: 1080px)  {
  .message {
    margin-left: 15vw;
    font-size: 1rem;
  }
  .mailModal{
    height: 2.5rem;
  }

  .emailInput {
    font-size: 1rem;
    margin-top: 0.8rem;
  }
  .emailButton {
    margin-left: 22vw;
    margin-bottom: 5rem !important;
    margin-top: 5rem !important;
    padding: 0.2rem;
    font-size: 0.9rem !important;
  }

  .candleChild {
    height: 35vh;
  }

  .candleDetail {
    margin-top: 5vh;
  }

  .candleContainer{
    height: 60rem !important;
  }

  .candlePic {
    margin-top: 3vh;
    margin-left: 3vh;
  }
   .candleMain{
     width: 40rem;
     height: 23em;
   }

  .candleZoomedDetail {
    margin-left: 34vw !important;
    margin-top: -40vh !important;
    width: 40% !important;
    font-size: 1rem !important;
  }
  .candleMain .candleZoomedDetail .candlePrice {
    font-size: 0.7rem;
    text-decoration: line-through;
    margin-right: 5rem;
  }

  .candleMain .candlePic{
    width: 55%;
    padding-top: 4rem;
    margin-top: -15vh !important;
  }
}

@media only screen and (min-width: 1180px)  {
  .message {
    margin-left: 15vw;
    font-size: 1rem;
  }

  .emailInput {
    font-size: 1rem;
    margin-top: 0.8rem;
  }
  .emailButton {
    margin-left: 18vw;
    margin-bottom: 5rem !important;
    margin-top: 5rem !important;
    padding: 0.2rem;
    font-size: 0.9rem !important;
  }

  .candleChild {
    height: 35vh;
  }

  .candleDetail {
    margin-top: 5vh;
  }

  .candleContainer{
    height: 60rem !important;
  }

  .candlePic {
    margin-top: 3vh;
    margin-left: 3vh;
  }
   .candleMain{
     width: 43rem;
     height: 23em;
   }

  .candleZoomedDetail {
    margin-left: 33vw !important;
    margin-top: -40vh !important;
    width: 40% !important;
    font-size: 1rem !important;
  }
}

@media only screen and (min-width: 1280px)  {

   .candleMain{
     width: 42rem;
     height: 23em;
   }

  .candleZoomedDetail {
    margin-left: 29vw !important;
    margin-top: -40vh !important;
    width: 40% !important;
    font-size: 1rem !important;
  }
}

@media only screen and (min-width: 1380px)  {
   .candleMain{
     width: 46rem;
     height: 23em;
   }

  .candleZoomedDetail {
    margin-left: 31vw !important;
    margin-top: -45vh !important;
    width: 40% !important;
    font-size: 1rem !important;
  }
}

@media only screen and (min-width: 1480px)  {
  .candleMain{
    width: 50rem;
    height: 23em;
  }

 .candleZoomedDetail {
   margin-left: 31vw !important;
   margin-top: -45vh !important;
   width: 40% !important;
   font-size: 1rem !important;
 }
}

@media only screen and (min-width: 1680px)  {
  .candleMain{
    width: 55rem;
    height: 23em;
  }

 .candleZoomedDetail {
   margin-left: 31vw !important;
   margin-top: -50vh !important;
   width: 40% !important;
   font-size: 1rem !important;
 }
}

@media only screen and (min-width: 2500px) {
  .emailButton {
    margin-left: 10vw !important;
  }
  .candleDetail {
    font-size: 1.2rem;
  }
  .candleZoom {
    font-size: 1.6rem !important;
  }
  .candleMain {
    width: 50vw;
    height: 63vh;
  }
  .candlePic {
    width: 65%;
  }
  .candleZoomedDetail {
    margin-left: 31vw !important;
    margin-top: -70vh !important;
    width: 100% !important;
    font-size: 1.5rem !important;
    line-height: 2.5rem !important;
  }
  .candleMain .candleZoomedDetail .candlePrice {
    font-size: 1rem;
    text-decoration: line-through;
    margin-right: 5rem;
  }
}

